<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="section">
            <div class="text">
                <h1>Heading 1</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam natus perspiciatis iure dolores quaerat nulla consectetur minima nihil harum doloribus tempora accusamus vel voluptatibus voluptatem repudiandae nemo illo delectus cupiditate quis in, quisquam fugiat! Eveniet ipsa ea corporis repudiandae quisquam aut doloribus ex quos voluptate deleniti debitis totam voluptatem quia autem recusandae, quis ipsum amet sed illo maxime, facere eum molestias. Reprehenderit exercitationem qui ad perspiciatis dolore soluta ducimus est in. Cum quisquam nesciunt natus ex consectetur, nam perferendis dolores! Unde delectus dolore molestiae vitae, perspiciatis, ex et impedit id possimus sed accusantium esse aspernatur ratione iusto laudantium voluptatibus hic.</p>
            </div>
            <div>
                <img src="../../assets/img-placeholder.jpg" class="img"/>
            </div>

        </div>

        <div class="section">
            <div class="text">
                <h1>Heading 2</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam natus perspiciatis iure dolores quaerat nulla consectetur minima nihil harum doloribus tempora accusamus vel voluptatibus voluptatem repudiandae nemo illo delectus cupiditate quis in, quisquam fugiat! Eveniet ipsa ea corporis repudiandae quisquam aut doloribus ex quos voluptate deleniti debitis totam voluptatem quia autem recusandae, quis ipsum amet sed illo maxime, facere eum molestias. Reprehenderit exercitationem qui ad perspiciatis dolore soluta ducimus est in. Cum quisquam nesciunt natus ex consectetur, nam perferendis dolores! Unde delectus dolore molestiae vitae, perspiciatis, ex et impedit id possimus sed accusantium esse aspernatur ratione iusto laudantium voluptatibus hic.</p>
            </div>

            <div>
                <img src="../../assets/img-placeholder.jpg" class="img"/>
            </div>
        </div>


        <div class="section">
            <div class="text">
                <h1>Heading 3</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ullam natus perspiciatis iure dolores quaerat nulla consectetur minima nihil harum doloribus tempora accusamus vel voluptatibus voluptatem repudiandae nemo illo delectus cupiditate quis in, quisquam fugiat! Eveniet ipsa ea corporis repudiandae quisquam aut doloribus ex quos voluptate deleniti debitis totam voluptatem quia autem recusandae, quis ipsum amet sed illo maxime, facere eum molestias. Reprehenderit exercitationem qui ad perspiciatis dolore soluta ducimus est in. Cum quisquam nesciunt natus ex consectetur, nam perferendis dolores! Unde delectus dolore molestiae vitae, perspiciatis, ex et impedit id possimus sed accusantium esse aspernatur ratione iusto laudantium voluptatibus hic.</p>
            </div>

            <div>
                <img src="../../assets/img-placeholder.jpg" class="img"/>
            </div>
        </div>

    </div>
    
</body>
</html>