
.wrapper{
    display: flex;
    flex-direction: column;
    background-color: blue;
    align-items: center;
    /* text-align: center; */
}

.section{
    display: flex;
    flex-direction: row;
    background-color: red;
    width: 80%;
    padding: 30px;

}

.section:nth-child(odd) {
    flex-direction: row;
  }
  
.section:nth-child(even) {
    flex-direction: row-reverse;
  }

.text{
    margin: 50px;
    width: 50%;
}

.img{
    width: 100%;
}


@media (max-width: 1024px) {
    .section{
        flex-direction: column !important;
        background-color: green;
    
    }
}