
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #f2f2f2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400vh
}


.img{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
    /* height: 100vh; */
}


@media only screen and (max-width: 640px) {
    .img{
        height: 100vh;
    }
}


.section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}



section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    /* margin-top: 100px; */
    color: white;
    scroll-snap-align: start;
}

section >h1{
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 40px;
}

section >button{
    background-color: #f2f2f2;
    color: #333;
    border: none;
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 20px;
}

