.img {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 30px;
  }
  
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
    background-color: blue;
    width: 80%;
  }
  
  .slide {
    display: flex;
    flex-direction: row;
  }
  
  .slide {
    animation: slideRightToLeft 10s linear infinite;
  }
  
  @keyframes slideRightToLeft {
    0% {
      transform: translateX(50%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  