<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <div class="form-container">
            <img src="../../assets/circle.png" class="circle"/>
            <img src="../../assets/triangle.png" class="triangle"/>
        </div>

            <form>
                <input type="text" id="fname" name="firstname" placeholder="Voornaam"
                    />
                <input type="email" id="email" name="email" placeholder="Email"
                />
            
                <textarea id="message" value={message} placeholder="Bericht"> </textarea>
        
                <button type="submit" className="">Verstuur</button>
            </form>
    </div>
   
    
</body>
</html>